* {
	font-family: 'Montserrat', sans-serif;
	background-color:white;
	margin:auto;
}

#background {
	width: 900px;
	position: absolute;
	top: 20px;
	left: 6px;
	margin:10px;
}

#flow_title1 {
	color: black;
	font-weight:bold;
	font-size:22px;
	text-align: left;
	max-height: 30px;
}

#flow_title {
	color: black;
	font-weight:bold;
	font-size:22px;
	text-align: left;
	max-height: 30px;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #5a8899;
	text-decoration:none;
}

a:hover {
	color:#3e95b5;	
}

table {
	border:0px;
	max-width:100%;
	max-height:100%;
	height:100%;
}

#page-wrapper {
	margin:auto;	
	width:1252px;
	border:0px;
}

#course-container {
	height:600px;
	width:950px; 
	position:relative;
	float:left;
	max-width:950px;
	border-right-style: 
	border-right:5px;
	margin:auto;
}

#side-information {
	height:600px;
	max-height:600px;
	width:300px;
	background-color:#E6E2DF;
	position:relative;
	float:left;
	border-left:2px solid grey; 
	margin:auto;
}

#ap {
	display:none;
	max-height: 490px;
	max-width:285px;
	height: 490px;
}

#why1 {
	width:70%;
	background-color:#428bca;
	display:inline-block;
	vertical-align:middle;
}

#why2 {
	width:30%;
	background-color:#428bca;
	display:inline-block;
	vertical-align:middle;
}

#ap-scroll {
	overflow-y: scroll;
	height:422px;
	margin-top:5px;
	margin-bottom: 0px;
	padding-left:5px;
}

#f {
	padding-left:5px;
	padding-right:5px;
}

#desc-area {
	padding-left:6px;
	height:490px;
	font-size:14px;
	overflow-y: scroll;
	max-height: 490px;
	max-width:280px;
}

#elective-area {
	display:none;
	color:black;
	height:490px;
	max-height: 490px;
	max-width:280px;
	padding-left:6px;
	overflow-y: scroll;
}

#block {
	text-align:left;
	padding-left:10px;
	margin-right:5px;
	border-collapse:collapse;

}

#text_format {
	margin-right: 10px;
}

.accordion {
	color:white;
	font-size: 20px;
	vertical-align: bottom;
    width:90%;
    cursor: pointer;
    border-color:#428bca;
    margin-top:5px;
	padding-top: 2px;
    transition: 0.4s;
    border-style:solid;
    background-color:#428bca;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#ap_style {
	padding-left:10px;
	color:white;
	font-size: 14px;
    border-color:#428bca;
    margin-top:5px;
    margin-bottom:5px;
	padding-top: 2px;
    transition: 0.4s;
    border-style:solid;
    background-color:#428bca;
    border-radius: 7px;
}

.ap_style {
	width:90%;
}

select {
	vertical-align: text-top;
	width:50px;
}

option {
	width:55.5px;
}


.ap_style_table {
	background-color:#428bca;
	width:100%;
	padding-left: 0px;
}

.selector {
	border:0px;
	margin-right: 0px;
	width:100%;
	color:black;
	padding:1px 1px;
	background-color: #A2DEEA;
	border-radius:5px;
	vertical-align:middle;
	display:inline-block;
	height: 100%;
}

.panel {
    width:90%;
    color:black;
    font-size: 14px;
    border-color:#428bca;
    border-style:solid;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    max-height: 0px;
    margin-bottom: 5px;
    overflow: hidden;
    margin-right:10px;
    transition: max-height 0.2s ease-out;
    z-index:1;
    
}

.bottom {
	border-style:solid;
	border:5px;
	padding:5px;
	border-color: #428bca;
	background-color: #A2DEEA;
}


.active {
	border-bottom-left-radius:0px;
	border-bottom-right-radius: 0px;
	transition: 0s;
	background-color:#A2DEEA;
	color:black;
	border-color:#A2DEEA;
}
div {
	display: block;
}

.active1 {
	border-bottom-left-radius:7px;
	border-bottom-right-radius: 7px;
	color:black;
	border-color:#A2DEEA;
	margin-right:10px;
}

.active2 {
	color:black;
	border-color:#A2DEEA;
	background-color:#A2DEEA;
	transition:0.4s ease-out;

}

.active3 {
	color:white;
	border-color:#428bca;
	background-color:#428bca;
	transition:0.4s ease-out;
}

#blue {
	background-color:#428bca; 
}

#p {
	width: 75%;
	text-align:left;
    background-color:#428bca;
}

#q {
	width:25%;
	background-color:#428bca;
}

table {
	padding-left: 5px;
	border:0px;
	border-collapse:collapse;
	margin:0px;
	display: block;
}
td {
	width:33.33%;
	border-collapse:collapse;

}

tbody {
	border:0px;
	background-color:#428bca;
	border-color:#428bca;
	color:white;
	display: table;
}

hr {
	width:95%;
	float:left;
}

th {
	font-weight: normal;
	border:0px;
}

#courseListing, #Placement, #electives {
	font-size: 19px;
	text-align:center;
	padding:5px;
	cursor:pointer;
	border-radius:10px;
	border-style:solid;
	border-color:#428bca;
	border:5px;
	transition:0.4s;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#reset, #fall, #spring, #both {
	background-color:#428bca;
	color:white;
	width:130px;
	text-align:center;
	padding:5px;
	cursor:pointer;
	float:left;
	position:absolute;
	border-radius:10px;
}

#legend {
	float:left;
	position:absolute;
	left:68%;
	top:65%;
	width:280px;
	height:200px;
	font-size: 11px;
}

#subs {
	font-size:10px;
}

#substitutes {
	font-size: 11px;
	margin-top:0px;
	margin-bottom:0px;
}

ul {
	margin:0px;
}

#ap_button {
	color:white;
	position:relative;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor:pointer;
	border-radius:10px;
	background-color:#428bca;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
	width: 92.5%;
}


#reset {
	left:51%;
	top:92%;
}

#fall {
	left:3%;
	top:92%;
}

#spring {
	left:19%;
	top:92%;
}

#both {
	left:35%;
	top:92%;
}

.course {
	height:30px;
	width:30px;
	background-color:#59484F;
	transition:0.4s;
}


x-course {
	max-width:47.5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right:2px;
	text-align:center;
	line-height:20px;
	float:left;
	position:absolute;
	background-color:#428bca;
	margin:1px 1px 1px 1px;	
	color:white;
	border:1px solid grey;
	border-radius:6px;	
	cursor:pointer;
	transition:0.4s;
}



.completed {
	background-color:#A2DEEA;
	color:black;
	transition:0.4s;
}


.unavailable {
	background-color:white;
	color:black;
}

.fall-season,.spring-season,.both-season, .bold-course {
	background-color:#333333;
	color:white;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: white;
    float: right;
    margin-right: 10px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color:black;
}